body{
    
    overflow-x: hidden;
    overflow-y: auto;
    height: 200vh;
}
.overview {
    padding-top: 10px;
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    padding-right: 20px;
    border-radius: 4px;
    width: 100vw;
    height: 700px;
}
/* s */
.overButt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica;
  text-shadow: 0 0 2px black, 0 0 2px black;
  background-color: rgba(255, 255, 255, 0.15);
  color: aliceblue;
  border-radius: 35px;
}
.fuckraafat{
    border-radius: 8px;
    width: 100vw;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    object-fit:initial;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    -ms-interpolation-mode: bicubic;
}
.fuckraafat:before {
    content: '';
    background-image: linear-gradient(to top, rgba(239,239,239,255), rgba(239,239,239,0));
    position: absolute;
    height: 100px;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .fuckraafat:after {
    content: '';
    display: block;
    height: 9999px;
  }
